<%- include("header") -%>

<div class="about-box">
    <h1>About</h1>
    <p>My name is Sam. Currently learning web development.  This is my todo list project using EJS.</p>
    <a href="mailto:samaudacity2@gmail.com"><button class="contact-me" type="button">Contact Me</button></a>
</div>

<%- include("footer") -%> 